<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <agm-map #map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true" [zoomControl]="true"
        (mapClick)="mapClicked($event)">

        <agm-marker [latitude]="marker.lat" [longitude]="marker.lng">

        </agm-marker>

        <agm-circle *ngFor="let circle of activeCircles;" [latitude]="circle.lat" [longitude]="circle.lng"
          [radius]="circle.radius" [fillColor]="circle.color" [circleDraggable]="false" [editable]="false">
        </agm-circle>
      </agm-map>


    </div>

    <div class="col-sm-4">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-primary btn-lg" [ngClass]="{'active': is4g}" (click)="ToggleButton(true)">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>4G
          </label>
          <label class="btn btn-success btn-lg" [ngClass]="{'active': !is4g}" (click)="ToggleButton(false)">
            <input name="options" id="option2" autocomplete="off" type="radio">3G
          </label>
      </div>

      <div class="form-group">
        &nbsp;
    </div>

      <div style="text-align:left">
        <table class="table">
          <thead>

            <th scope="col">#</th>
            <th scope="col">Udaljenost</th>
            <th scope="col">Razina signala</th>
          </thead>
          <tr *ngFor="let row of tableData; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{row.distance}} m</td>
            <td>{{row.powerOfSignal}} dBm</td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>